@model List<InvestorModel>
@using skipper_group_new.Models
@{
    ViewData["Title"] = "Investor Detail";
    Layout = "~/Views/Shared/_cms.cshtml";
}

<section id="ctl00_panelbanner" class="inner_banner">
    <figure>
        <img src="/uploads/banner/40_investor.webp" alt="Investor Banner" class="img-fluid w-100" />
    </figure>
    <div class="container">
        <div class="breadcrumb-bar">
            <div class="breadcrumb-left"><h5>INVESTOR DETAIL</h5></div>
            <div class="breadcrumb-right">
                <a href="/">Home</a><img src="/images/icon/arrow-right.webp" alt=""><span>Investor Detail</span>
            </div>
        </div>
    </div>
</section>

<section class="invest_detls_one">
    <div class="container">
        <div class="invstr_grid">
            <div class="invest_lft">
                <div class="accordian_sec">
                    <ul>
                        @foreach (var cat in Model)
                        {
                            var catSlug = cat.category.Replace(" ", "");

                            if (cat.subcategory != null && cat.subcategory.Count > 0)
                            {
                                <li>
                                    <h3>
                                        <a class="@(Context.Request.Path.Value.Contains($"/{cat.pcatid}/") ? "active-report" : "")"
                                           href="/investor-relations/@catSlug/All/@cat.pcatid/0">@cat.category</a>
                                    </h3>
                                    <ul class="subcat-list">
                                        @foreach (var sub in cat.subcategory)
                                        {
                                            var cat1 = cat.category.Replace(" ", "");
                                            var subSlug = sub.subcategory.Replace(" ", "");

                                            <li class="sub-item">
                                                <a class="@(Context.Request.Path.Value.EndsWith($"/{sub.psubcatid}") ? "active-report" : "")"
                                                   href="/investor-relations/@cat1/@subSlug/@cat.pcatid/@sub.psubcatid">
                                                    @sub.subcategory
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <h3>
                                        <a class="@(Context.Request.Path.Value.Contains($"/{cat.pcatid}/") ? "active-report" : "")"
                                           href="/investor-relations/@catSlug/All/@cat.pcatid/0">@cat.category</a>
                                    </h3>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            @if (ViewBag.RightPartData != null && ((IEnumerable<ReportModel>)ViewBag.RightPartData).Any())
            {
                <div class="invest_rght">
                    @await Html.PartialAsync("_InvestorReports", (IEnumerable<ReportModel>)ViewBag.RightPartData)
                </div>
            }            
            <div class="vertical-line">
                <img src="/images/icon/investor-line.svg" alt="investor line">
            </div>
        </div>
    </div>
</section>
