@model skipper_group_new.Models.Management
@{
    ViewData["Title"] = "Add Team";
    Layout = "~/Views/Shared/_homepage.cshtml";
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewBag.Title
                <small class="text-muted">@Context.Session.GetString("ClientName")</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Team</a></li>
                <li class="breadcrumb-item active">Add Team</li>
            </ul>
        </div>
    </div>
</div>



@using (Html.BeginForm("AddTeam", "Management", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">
                        Fields with * are mandatory
                    </h2>
                    <div class="row clearfix">
                        @Html.HiddenFor(model => model.Teamid)
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.ShowOnHome)
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Type</label>
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.TTypeId, ViewBag.TeamType as SelectList, "Select Team Type", new { @class = "form-control", @id = "TTypeId" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.TTypeId, "", new { @class = "text-danger v-span" })
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Name *</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger v-span" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">   
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Designation</label>
                                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Qualification</label>
                                    @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Tagline</label>
                                    @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                     

                    </div>
                    
                    <div class="row clearfix">                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Short Detail</label>
                                    @Html.TextAreaFor(model => model.ShortDesc, new { @class = "form-control editor1", @id = "editor1", @rows = "10" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Detail Description</label>
                                    @Html.TextAreaFor(model => model.DetailDesc, new { @class = "form-control editor1", @id = "editor2", @rows = "10" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Upload Photo</label>
                                    <input type="file" name="UploadImageFile" class="form-control" />
                                    <img src="/uploads/smallimages/@Url.Content(Model.UploadPhoto)" width="80" />
                                    @Html.HiddenFor(model => model.UploadPhoto)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Upload Photo1</label>
                                    <input type="file" name="UploadImageFile1" class="form-control" />
                                    <img src="/uploads/smallimages/@Url.Content(Model.UploadPhoto1)" width="80" />
                                    @Html.HiddenFor(model => model.UploadPhoto1)
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5>SEO Section</h5>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Page Title</label>
                                    @Html.EditorFor(model => model.PageTitle, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Meta Description</label>
                                    @Html.EditorFor(model => model.PageMetaDesc, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Display Order</label>
                                    @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Page Meta</label>
                                    @Html.EditorFor(model => model.PageMeta, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Canonical</label>
                                    @Html.EditorFor(model => model.Canonical, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="submit" class="btn btn-success btn-lg mx-2" value="@ViewBag.Button" />
                            <a href="/Products/Index" class="btn btn-secondary btn-lg mx-2">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>


<script>
    $('.editor1').each(function () {
        CKEDITOR.replace($(this).prop('id'));
    });
</script>
<script>
    $(document).ready(function ()
    {
      

        $('#PcatId').change(function () {
            var categoryId = $(this).val();
            var subCategoryDropdown = $('#PsubcatId');

            subCategoryDropdown.empty().append($('<option>').val('').text('Select Sub-Category'));

            if (categoryId) {
                $.ajax({
                    url: '/Products/GetSubcategoriesByCategoryId',
                    type: 'GET',
                    data: { categoryId: categoryId },
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (i, item) {
                            subCategoryDropdown.append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    },
                    error: function () {
                        alert('Error loading subcategories.');
                    }
                });
            }
        });
    });

    setTimeout(function () {
        var msg = document.getElementById("message");
        if (msg) {
            msg.style.display = "none";
        }
    }, 2000);
</script>