@model skipper_group_new.Models.PostJobModel
@{
    Layout = "~/Views/Shared/_homepage.cshtml";
    ViewBag.Title = "Add Job Post";
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewBag.Title
                <small class="text-muted">@Context.Session.GetString("ClientName")</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Post Job</a></li>
                <li class="breadcrumb-item active">Create Job</li>
            </ul>
        </div>
    </div>
</div>



@if (TempData["SuccessMessage"] != null)
{
    <div id="message" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="message" class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


@using (Html.BeginForm("AddEditJobPost", "Career", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">
                        Fields with * are mandatory
                    </h2>
                    @Html.HiddenFor(model => model.Jobid)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.rewriteurl)
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Division</label>
                                    @Html.DropDownListFor(model => model.EmpTypeId,
                                    (IEnumerable<SelectListItem>)ViewBag.EmpTypeList, "-- Select Division --", new { @class = "form-control", style = "border:1px solid #ccc; border-radius:4px;" })
                                    @Html.ValidationMessageFor(m => m.EmpTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Job Title</label>
                                    @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Job Category</label>
                                    @Html.TextBoxFor(model => model.jobcategory, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.jobcategory, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Department</label>
                                    @Html.TextBoxFor(model => model.department, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.department, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Designation</label>
                                    @Html.TextBoxFor(model => model.designation, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.designation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Job Code</label>
                                    @Html.TextBoxFor(model => model.JobCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.JobCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>No. Of Vacancies</label>
                                    @Html.TextBoxFor(model => model.NoOfVacancies, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NoOfVacancies, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Email Id</label>
                                    @Html.TextBoxFor(model => model.emailid, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.emailid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Salary</label>
                                    @Html.TextBoxFor(model => model.salary, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.salary, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Min Experience Year</label>
                                    @Html.DropDownListFor(model => model.Min_Expyear,
                                    new SelectList(new[]
                                    {
                                                                new { Value = "", Text = "-- Select Year --" },
                                                                new { Value = "0", Text = "0 Year" },
                                                                new { Value = "1", Text = "1 Year" },
                                                                new { Value = "2", Text = "2 Years" },
                                                                new { Value = "3", Text = "3 Years" },
                                                                new { Value = "4", Text = "4 Years" },
                                                                new { Value = "5", Text = "5 Years" },
                                                                new { Value = "6", Text = "6 Years" },
                                                                new { Value = "7", Text = "7 Years" },
                                                                new { Value = "8", Text = "8 Years" },
                                                                new { Value = "9", Text = "9 Years" },
                                                                new { Value = "10", Text = "10 Years" },
                                                                new { Value = "11", Text = "11 Years" },
                                                                new { Value = "12", Text = "12 Years" },
                                                                new { Value = "13", Text = "13 Years" },
                                                                new { Value = "14", Text = "14 Years" },
                                                                new { Value = "15", Text = "15 Years" },
                                                                new { Value = "16", Text = "16 Years" },
                                                                new { Value = "17", Text = "17 Years" },
                                                                new { Value = "18", Text = "18 Years" },
                                                                new { Value = "19", Text = "19 Years" },
                                                                new { Value = "20", Text = "20 Years" },
                                                                new { Value = "21", Text = "21 Years" },
                                                                new { Value = "22", Text = "22 Years" },
                                                                new { Value = "23", Text = "23 Years" },
                                                                new { Value = "24", Text = "24 Years" },
                                                                new { Value = "25", Text = "25 Years" }
                                                                }, "Value", "Text", Model?.Min_Expyear),
                                                                new { @class = "form-control" })

                                @Html.ValidationMessageFor(m => m.Min_Expyear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Min Experience Month</label>
                                @Html.DropDownListFor(model => model.Min_Expmonth,
                                                                new SelectList(new[]                                             {
                                                                new { Value = "", Text = "-- Select Month --" },
                                                                new { Value = "0", Text = "0 Month" },
                                                                new { Value = "1", Text = "1 Month" },
                                                                new { Value = "2", Text = "2 Months" },
                                                                new { Value = "3", Text = "3 Months" },
                                                                new { Value = "4", Text = "4 Months" },
                                                                new { Value = "5", Text = "5 Months" },
                                                                new { Value = "6", Text = "6 Months" },
                                                                new { Value = "7", Text = "7 Months" },
                                                                new { Value = "8", Text = "8 Months" },
                                                                new { Value = "9", Text = "9 Months" },
                                                                new { Value = "10", Text = "10 Months" },
                                                                new { Value = "11", Text = "11 Months" }
                                                                }, "Value", "Text", Model?.Min_Expmonth), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Min_Expmonth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Max Experience Year</label>
                                @Html.DropDownListFor(model => model.Max_Expyear, new SelectList(new[]
                                                                {
                                        new { Value = "", Text = "-- Select Year --" },
                                                                new { Value = "0", Text = "0 Year" },
                                                                new { Value = "1", Text = "1 Year" },
                                                                new { Value = "2", Text = "2 Years" },
                                                                new { Value = "3", Text = "3 Years" },
                                                                new { Value = "4", Text = "4 Years" },
                                                                new { Value = "5", Text = "5 Years" },
                                                                new { Value = "6", Text = "6 Years" },
                                                                new { Value = "7", Text = "7 Years" },
                                                                new { Value = "8", Text = "8 Years" },
                                                                new { Value = "9", Text = "9 Years" },
                                                                new { Value = "10", Text = "10 Years" },
                                                                new { Value = "11", Text = "11 Years" },
                                                                new { Value = "12", Text = "12 Years" },
                                                                new { Value = "13", Text = "13 Years" },
                                                                new { Value = "14", Text = "14 Years" },
                                                                new { Value = "15", Text = "15 Years" },
                                                                new { Value = "16", Text = "16 Years" },
                                                                new { Value = "17", Text = "17 Years" },
                                                                new { Value = "18", Text = "18 Years" },
                                                                new { Value = "19", Text = "19 Years" },
                                                                new { Value = "20", Text = "20 Years" },
                                                                new { Value = "21", Text = "21 Years" },
                                                                new { Value = "22", Text = "22 Years" },
                                                                new { Value = "23", Text = "23 Years" },
                                                                new { Value = "24", Text = "24 Years" },
                                                                new { Value = "25", Text = "25 Years" }
                                                                }, "Value", "Text", Model?.Max_Expyear), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Max_Expyear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Max Experience Month</label>
                                @Html.DropDownListFor(model => model.Max_Expmonth, new SelectList(new[]
                                                                {
                                        new { Value = "", Text = "-- Select Month --" },
                                                                new { Value = "0", Text = "0 Month" },
                                                                new { Value = "1", Text = "1 Month" },
                                                                new { Value = "2", Text = "2 Months" },
                                                                new { Value = "3", Text = "3 Months" },
                                                                new { Value = "4", Text = "4 Months" },
                                                                new { Value = "5", Text = "5 Months" },
                                                                new { Value = "6", Text = "6 Months" },
                                                                new { Value = "7", Text = "7 Months" },
                                                                new { Value = "8", Text = "8 Months" },
                                                                new { Value = "9", Text = "9 Months" },
                                                                new { Value = "10", Text = "10 Months" },
                                                                new { Value = "11", Text = "11 Months" }
                                                                }, "Value", "Text", Model?.Max_Expmonth), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Max_Expmonth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Required Skill</label>
                                @Html.TextAreaFor(model => model.Skills, new { @class = "form-control editor1", @id = "editor3", @rows = "10" })
                                @Html.ValidationMessageFor(m => m.Skills, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Qualification</label>
                                @Html.TextAreaFor(model => model.Qualification, new { @class = "form-control editor1", @id = "editor4", @rows = "10" })
                                @Html.ValidationMessageFor(m => m.Qualification, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Short Description</label>
                                @Html.TextAreaFor(model => model.shortdesc, new { @class = "form-control editor1", @id = "editor1", @rows = "10" })
                                @Html.ValidationMessageFor(m => m.shortdesc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Description</label>
                                @Html.TextAreaFor(model => model.JobDesc, new { @class = "form-control editor1", @id = "editor2", @rows = "10" })
                                @Html.ValidationMessageFor(m => m.JobDesc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Job Opening Date</label>
                                @Html.TextBoxFor(model => model.JobOpening_date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                @Html.ValidationMessageFor(m => m.JobOpening_date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Job Closing Date</label>
                                @Html.TextBoxFor(model => model.JobClosing_date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                @Html.ValidationMessageFor(m => m.JobClosing_date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <p>@ViewBag.error</p>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Age year</label>
                                @Html.TextBoxFor(model => model.Ageyear, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Age month</label>
                                @Html.TextBoxFor(model => model.Agemonth, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Company</label>
                                @Html.TextBoxFor(model => model.company, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Location</label>
                                @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Display Order</label>
                                @Html.EditorFor(model => model.displayorder, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input type="submit" class="btn btn-success btn-lg mx-2" value="@ViewBag.Button" />
                        <a href="~/Views/backoffice/career/viewpostedjob.cshtml" class="btn btn-secondary btn-lg mx-2">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>


<script>
    $('.editor1').each(function () {
        CKEDITOR.replace($(this).prop('id'));
    });
</script>