@model skipper_group_new.Models.EnquiryModel;
@using System.Data;

@{
    Layout = "~/Views/Shared/_cms.cshtml";
}
<section class=contact_one>
    <div class=container>
        <div class=row>
            <div class="col-lg-11 ms-auto">
                <div class=contact-title>
                    <h3 data-aos=fade-up data-aos-delay=200>Offices</h3>
                </div>
                <div class=contact_grid>

                    @Html.Raw(@Model.desc)
                    @using (Html.BeginForm("contactus", "SkipperHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        <div class=contact_rght>
                            <div class=inquiry-form-wrapper>
                                <h2 data-aos=fade-up data-aos-delay=200>Contact Form</h2>
                                <div class=input_bx data-aos=fade-up data-aos-delay=300>
                                    @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                                    @Html.ValidationMessageFor(m => m.FName, "", new { @class = "text-danger v-span" })
                                </div>
                                <div class=input_bx data-aos=fade-up data-aos-delay=400>
                                    @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control", placeholder = "Country / Region" } })
                                    @Html.ValidationMessageFor(m => m.country, "", new { @class = "text-danger v-span" })
                                </div>
                                <div class=input_bx data-aos=fade-up data-aos-delay=500>
                                    @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control", placeholder = "Company" } })
                                    @Html.ValidationMessageFor(m => m.company, "", new { @class = "text-danger v-span" })
                                </div>
                                <div class=input_bx data-aos=fade-up data-aos-delay=600>
                                    @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", placeholder = "Enail Address" } })
                                    @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger v-span" })

                                </div>
                                <div class=input_bx data-aos=fade-up data-aos-delay=700>
                                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobile No", maxlength = "10" } })
                                    @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-danger v-span" })

                                </div>
                                <div class=input_bx data-aos=fade-up data-aos-delay=800>
                                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                                </div>


                                <div class=input_bx data-aos=fade-up data-aos-delay=900>
                                    @Html.EditorFor(model => model.FMessage, new { htmlAttributes = new { @class = "form-control", placeholder = "Message" } })
                                </div>
                                <div class=input_bx data-aos=fade-up data-aos-delay=900>
                                    <figure class="captcha_wrap">
                                        <div class="d-flex align-items-center">
                                            <div style="background:#f1f1f1; padding:10px 20px; font-weight:bold; letter-spacing:4px; font-size:18px; border-radius:6px;">
                                                @Model.capacha
                                                @Html.HiddenFor(model => model.capacha)
                                            </div>


                                            <a href="/contact-us" class="btn btn-link ms-2">↻ Refresh</a>
                                        </div>
                                        <input asp-for="CaptchaInput" class="form-control mt-2" placeholder="Enter the code above" />
                                        <span asp-validation-for="CaptchaInput" class="text-danger"></span>

                                    </figure>
                                </div>
                                <input type="submit" data-aos="fade-up" data-aos-delay="900" Text="Submit" class="btn btn-success" formmethod="post" action="@Url.Action("contactus", "SkipperHome")" value="Submit" />


                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class=vrtcl-line>
            <figure><img src=~/images/icon/vertical-line.svg alt=vertical-line class=image2></figure>
        </div>
    </div>
</section>
<section class="contact_one contact_two">
    <div class=contact-outer>
        <div class=container>
            <div class=row>
                <div class="col-lg-11 ms-auto">
                    <div class=contact_grid>
                        <div class=contact_lft>
                            <div class=contact-title data-aos=fade-up data-aos-delay=200>
                                <h3>Manufacturing Facilities</h3>
                            </div>
                            <div class=ofc-loctn>
                                <h4 data-aos=fade-up data-aos-delay=300>Unit Uluberia</h4>
                                <p data-aos=fade-up data-aos-delay=400>
                                    NH6, Madhabpur, Post: Uluberia, Howrah -
                                    711303, India
                                    <div class=contact_bx data-aos=fade-up data-aos-delay=500>
                                        <figure><img src=~/images/icon/phone.svg alt=email></figure>
                                        <div class=cntact_txt><a href="tel:+91 9051417755">+91 9051417755</a></div>
                                    </div>
                            </div>
                            <div class=ofc-loctn>
                                <h4 data-aos=fade-up data-aos-delay=200>Jangalpur - Unit 1</h4>
                                <p data-aos=fade-up data-aos-delay=300>
                                    Jalan Complex, NH6 (Bombay Road),
                                    Village: Jangalpur, Post: Andul Mouri, Howrah - 711302, India
                                    <div class=contact_bx data-aos=fade-up data-aos-delay=400>
                                        <figure><img src=~/images/icon/phone.svg alt=phone></figure>
                                        <div class=cntact_txt>
                                            <a href="tel:+91 33 26691251">+91 33 26691251</a>
                                        </div>
                                    </div>
                            </div>
                            <div class=ofc-loctn>
                                <h4 data-aos=fade-up data-aos-delay=200>Jangalpur - Unit BCTL</h4>
                                <p data-aos=fade-up data-aos-delay=300>
                                    Jalan Complex, NH6 (Bombay Road),
                                    Village: Jangalpur, Post: Andul Mouri, Howrah - 711302, India
                                    <div class=contact_bx data-aos=fade-up data-aos-delay=400>
                                        <figure><img src=~/images/icon/phone.svg alt=phone></figure>
                                        <div class=cntact_txt>
                                            <a href="tel:+91 33 26691251">+91 33 26691251</a>
                                        </div>
                                    </div>
                            </div>
                            <div class=ofc-loctn>
                                <h4 data-aos=fade-up data-aos-delay=200>Unit Ghoraghata</h4>
                                <p data-aos=fade-up data-aos-delay=300>
                                    Skipper Limited, Village & P.O- Barunda,
                                    P.S- Bagnan, District- Howrah, West Bengal
                                    <div class=contact_bx data-aos=fade-up data-aos-delay=400>
                                        <figure><img src=~/images/icon/phone.svg alt=phone></figure>
                                        <div class=cntact_txt><a href="tel:+91 7980006214">+91 7980006214</a></div>
                                    </div>
                            </div>
                            <div class=ofc-loctn>
                                <h4 data-aos=fade-up data-aos-delay=200>Unit Palasbari </h4>
                                <p data-aos=fade-up data-aos-delay=300>
                                    Skipper Limited, Mouza Chayani, Village -
                                    Parlley, Revenue Circle, Palashbari, Kamrup Rural, Assam – 781128
                                    <div class=contact_bx data-aos=fade-up data-aos-delay=400>
                                        <figure><img src=~/images/icon/phone.svg alt=phone></figure>
                                        <div class=cntact_txt><a href="tel:+91 7578998068">+91 7578998068</a></div>
                                    </div>
                            </div>
                        </div>
                        <div class=contact_rght data-aos=fade-up data-aos-delay=400>
                            <iframe allowfullscreen
                                    height=100% loading=lazy referrerpolicy=no-referrer-when-downgrade
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112120.34385191409!2d77.26084778955077!3d28.576946353957148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb57b0000001%3A0xa086c23b62d38df3!2sSkipper%20Limited!5e0!3m2!1sen!2sin!4v1748065205826!5m2!1sen!2sin"
                                    style=border:0 width=100%></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=bottom-icon>
            <figure class=image2><img src=~/images/icon/Subtraction-11.svg alt=Subtraction></figure>
        </div>
    </div>
</section>
@Html.Raw(@Model.SmallDescription)

