@model skipper_group_new.Models.clsHomeModel
@using System.Data
@using skipper_group_new.mainclass
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!---------header html start here--------->
<header class="position-fixed d-flex align-items-center justify-content-between w-full">
    <div class="logo">
        <a href="/">
            <img width="250" height="78" src="~/images/logo/logo.png" class="img-fluid before-sticky"
                 alt="SKIPPER LIMITED">
            <img width="250" height="78" src="~/images/logo/logo-sticky.png" class="img-fluid after-sticky"
                 alt="SKIPPER LIMITED">
        </a>
    </div>
    @await Html.PartialAsync("~/Views/PartialView/_MainMenu.cshtml")
</header>


<section class=home_banner>
    <div class=video>
        <div class=video-wrapper>
            <div class=video-container>
                <div id=homebanner1_rptbanner_ctl00_panel2>
                    <video autoplay height=700 id=video loop muted
                           width=100%>
                        <source src=video/banner_video.mp4 type=video/mp4>
                    </video><span class="mute-toggle muted"></span>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Raw(Model.SmallDescription)
<div class=wrapper>
    <div class=eng-wrapper>
        <section class="animated-section home_eng">
            @Html.Raw(Model.cmscontent)
        </section>
        @Html.Raw(Model.pagedesc2)
    </div>
    @Html.Raw(Model.pagedesc3)
    <section class=home_sustainbility>
        <div class=home_sustain_panel>
            <div class="image-container image_full">
                <figure><img src=images/home_sustainbility.jpg alt=Sustainbility class=img-fluid></figure>
                <div class="icon_sustain mobile-display">
                    <figure class=c-shape-reveal>
                        <img src=images/icon/Subtraction-3.svg alt=icon
                             class=img-fluid>
                    </figure>
                </div>
            </div>
            <div class=container>
                <div class=sustain_text>
                    <div class=mobile_view>
                        <div class=top_icon>
                            <img src=images/icon/Subtraction-2.svg alt=icon1
                                 class="img-fluid image">
                        </div>
                        <div class=bottom_icon>
                            <img src=images/icon/Subtraction-5.svg alt=icon2
                                 class="img-fluid image">
                        </div>
                        <h2 data-aos=fade-up data-aos-delay=300>Sustainability</h2>
                        <p data-aos=fade-up data-aos-delay=400>
                            Skipper Limited focuses on sustainable
                            infrastructure, emphasizing eco-friendly manufacturing and responsible resource
                            management.
                            <div class=read_icon data-aos=fade-up data-aos-delay=500>
                                <a href="cpage.aspx?mpgid=6&pgidtrail=22">
                                    <img src=images/icon/plus-icon.svg
                                         alt=Sustainability class=img-fluid>
                                </a>
                            </div>
                    </div>
                    <div class=people_link_list data-aos=fade-up data-aos-delay=600>
                        <a href="cpage.aspx?mpgid=6&pgidtrail=23">CSR Activities</a> <a href=pdf/sustainability-report.pdf target=_blank>Sustainability Report</a> <a href="cpage.aspx?mpgid=6&pgidtrail=24#esg">ESG Policy</a>
                    </div>
                </div>
                <div class=icon_sustain>
                    <figure class=c-shape-reveal>
                        <img src=images/icon/Subtraction-3.svg alt="" class=img-fluid>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    @if (ViewBag.ProjectsList != null)
    {

        <section class=featured_project>
            <div class=scroll-spacer></div>
            <div class=trigger-placeholder></div>
            <div class=icon_project>
                <figure><img src=/images/icon/Subtraction-4.svg alt="skipper image" class=img-fluid></figure>
            </div>
            <div class=container>
                <h2>Featured Projects</h2>
                <div class=project_slider>
                    <div class="mySwiper swiper">
                        <div class=swiper-wrapper>
                            <div class=swiper-slide>
                                <div class=swiper-container>
                                    <div class=slider_grid>
                                        @{
                                            var dt = ViewBag.ProjectsList as DataTable;


                                        }
                                        @if (dt != null && dt.Rows.Count > 0)
                                        {
                                            @for (int i = 1; i <= dt.Rows.Count - 2; i++)
                                            {
                                                DataRow data = dt.Rows[i];
                                                <div class=left-slide id=rptinnerleft_ctl00_panelleft>
                                                    <div class=corner-accent>
                                                        <figure>
                                                            <img src=/uploads/SmallImages/@data["uploadevents"]
                                                                 alt="skipper image" class=img-fluid>
                                                        </figure>
                                                    </div>
                                                    <div class=text-content>
                                                        <div class=bottom_left_icon>
                                                            <img src=/images/icon/Subtraction-6.svg
                                                                 alt="skipper image" class=img-fluid>
                                                        </div>
                                                        <div class=project-title>
                                                            @data["researchtitle"]
                                                        </div>
                                                        <div class=description>Transgrid</div>
                                                    </div>
                                                    <div class=voltage></div><a href="/projects"
                                                                                class=streched_link></a>
                                                </div>
                                            }

                                        }

                                        <div class=right-container id=panelright>


                                            @if (dt != null && dt.Rows.Count > 1)
                                            {
                                                @for (int i = 1; i <= dt.Rows.Count - 1; i++)
                                                {
                                                    DataRow data = dt.Rows[i];
                                                    <div class=right-top>
                                                        <div class=corner-accent>
                                                            <figure>
                                                                <img src=/uploads/SmallImages/@data["uploadevents"]
                                                                     alt="skipper image" class=img-fluid>
                                                            </figure>
                                                        </div>
                                                        <div class=text-content>
                                                            <div class=bottom_left_icon>
                                                                <img src=images/icon/Subtraction-6.svg class=img-fluid>
                                                            </div>
                                                            <div class=project-title>
                                                                @data["researchtitle"]
                                                            </div>
                                                            <div class=description>
                                                                @data["tagline"]
                                                                <div class=loctn_grid>
                                                                    <div class=prjt_nme>
                                                                        <h4>Project Authority</h4>
                                                                        <p>Ceylon Electricity Board (CEB)
                                                                    </div>
                                                                    <div class=prjt_nme>
                                                                        <h4>Location</h4>
                                                                        <p>@data["location"]</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class=voltage></div>
                                                        <a href="/project-details.aspx?mpgid=5&pgidtrail=5&projectid=5"
                                                           id=rptinnerright_ctl00_ank class=streched_link></a>
                                                    </div>
                                                }

                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button_group d-none">
                            <div class=container>
                                <div class=swiper-button-next></div>
                                <div class=swiper-button-prev></div>
                            </div>
                        </div>
                        <div class=container>
                            <div class=view_all>
                                <a href="/projects">
                                    View All Projects
                                    <figure><img src=/images/icon/right_icon.svg alt="project icon"></figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }

    <section class=skipper_news>
        <div class=full_container>
            <div class=item>
                <figure><img src=images/skipper_news.png alt="skipper news" class=img-fluid></figure>
            </div>
            <div class=item id=rptnewsevents_ctl00_panelimage>
                <div class=home_news>
                    <figure>
                        <img src=uploads/smallimages/7krs-mee25.webp alt="skipper icon2" class=img-fluid>
                    </figure>
                    <div class="fade-container home_news_detail">
                        <div class=h_date>07-Apr-2025</div>
                        <h3>2nd Tower Testing Facility Launching in 2025</h3>
                    </div><a href=/news-details/2nd-tower-testing-facility-launching-in-2025/7
                             id=rptnewsevents_ctl00_ank class=streched_link></a>
                </div>
            </div>
            <div class=item id=rptnewsevents_ctl01_panelimage>
                <div class=home_news>
                    <figure>
                        <img src=uploads/smallimages/8krs-New-Project.jpg alt="skipper icon2"
                             class=img-fluid>
                    </figure>
                    <div class="fade-container home_news_detail">
                        <div class=h_date>01-Mar-2025</div>
                        <h3>Proud to Represent Skipper Limited at Middle East Energy Dubai 2025</h3>
                    </div><a href=/news-details/proud-to-represent-skipper-limited-at-middle-east-energy-dubai-2025/8
                             id=rptnewsevents_ctl01_ank class=streched_link></a>
                </div>
            </div>
            <div class=item id=rptnewsevents_ctl02_panelimage>
                <div class=home_news>
                    <figure>
                        <img src=uploads/smallimages/9rks-news2img.webp alt="skipper icon2" class=img-fluid>
                    </figure>
                    <div class="fade-container home_news_detail">
                        <div class=h_date>20-Jun-2025</div>
                        <h3>When you work with a customer like HDEC</h3>
                    </div><a href=/news-details/when-you-work-with-a-customer-like-hdec/9
                             id=rptnewsevents_ctl02_ank class=streched_link></a>
                </div>
            </div>
            <div class=item id=rptnewsevents_ctl03_panelimage>
                <div class=home_news>
                    <figure>
                        <img src=uploads/smallimages/10krs-NewProject.webp alt="skipper icon2"
                             class=img-fluid>
                    </figure>
                    <div class="fade-container home_news_detail">
                        <div class=h_date>01-May-2024</div>
                        <h3>400KV SC Padhge Ghatkopar Monopole Line</h3>
                    </div><a href=/news-details/400kv-sc-padhge-ghatkopar-monopole-line/10
                             id=rptnewsevents_ctl03_ank class=streched_link></a>
                </div>
            </div>
            <div class=item id=rptnewsevents_ctl04_panelimage>
                <div class=home_news>
                    <figure>
                        <img src=uploads/smallimages/11krs-outstandingq4.webp alt="skipper icon2"
                             class=img-fluid>
                    </figure>
                    <div class="fade-container home_news_detail">
                        <div class=h_date>01-May-2025</div>
                        <h3>Skipper is Excited to Announce Outstanding Q4 Results for FY25!</h3>
                    </div><a href=/news-details/skipper-is-excited-to-announce-outstanding-q4-results-for-fy25!/11
                             id=rptnewsevents_ctl04_ank class=streched_link></a>
                </div>
            </div>
        </div>
        <div class=view_all>
            <a href="/news.aspx?mpgid=12&pgidtrail=12">
                View All News & Updates
                <figure>
                    <img src=images/icon/right_icon.svg alt="nes icon">
                </figure>
            </a>
        </div>
    </section>
</div>


