@using System.Data
@model skipper_group_new.Models.clsInvestor

@{
    ViewData["Title"] = "Add Investor";
    Layout = "~/Views/Shared/_homepage.cshtml";
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewBag.Title
                <small class="text-muted">@Context.Session.GetString("ClientName")</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Investor</a></li>
                <li class="breadcrumb-item active">Add Investor</li>
            </ul>
        </div>
    </div>
</div>



 @using (Html.BeginForm("addinvestor", "investor", FormMethod.Post, new { enctype = "multipart/form-data" }))
 

{ 
@Html.ValidationSummary(true)
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <h2 class="card-inside-title">
                    Fields with * are mandatory
                </h2>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label> Category</label>
                                @Html.DropDownListFor(model => model.category,
                                new List<SelectListItem>(), "Select Category",
                                                                new { @class = "form-control", @id = "ddlCategory", style = "border:1px solid #ccc; border-radius:4px;" })

                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.category, "", new { @class = "text-danger v-span" })
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Sub Category</label>
                                @Html.DropDownListFor(model => model.subcategory,
                                                                new List<SelectListItem>(), "Select Sub Category",
                                                                new { @class = "form-control", @id = "ddlSubCategory", style = "border:1px solid #ccc; border-radius:4px;" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.subcategory, "", new { @class = "text-danger v-span" })
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label> Year Category</label>
                                @Html.DropDownListFor(model => model.yearcategory, new List<SelectListItem>(), "Select Year", new { @class = "form-control", @id = "ddlYearCategory", style = "border:1px solid #ccc; border-radius:4px;" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.yearcategory, "", new { @class = "text-danger v-span" })
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Year Quarterly</label>
                                @Html.DropDownListFor(model => model.Quarterly,
                                                                new List<SelectListItem>
                                                                {
                                                                new SelectListItem { Text = "Q1",  Value = "1" },
                                                                new SelectListItem { Text = "Q2", Value = "2" },
                                                                new SelectListItem { Text = "Q3", Value = "3" },
                                                                new SelectListItem { Text = "Q4", Value = "4" }
                                                                },
                                                                "Select Quarterly",
                                                                new { @class = "form-control", style = "border:1px solid #ccc; border-radius:4px;" })

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label> Investor Date</label>
                                @Html.EditorFor(model => model.investordate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        @*   @Html.ValidationMessageFor(m => m.investordate, "", new { @class = "text-danger v-span" }) *@
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>New Expire Date</label>
                                @Html.EditorFor(model => model.newexpiredate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        @*    @Html.ValidationMessageFor(m => m.newexpiredate, "", new { @class = "text-danger v-span" }) *@
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Doc Type</label>
                                @Html.DropDownListFor(model => model.doctype,
                                                                new List<SelectListItem>
                                                                {
                                                                new SelectListItem { Text = "PDF",  Value = "PDF" },
                                                                new SelectListItem { Text = "Zip", Value = "Zip" }
                                                                },
                                                                "Select Type",
                                                                new { @class = "form-control", style = "border:1px solid #ccc; border-radius:4px;" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.doctype, "", new { @class = "text-danger v-span" })
                    </div>
                </div>
                <div class="row clearfix">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.status)
                    @Html.HiddenFor(model => model.showonhome)
                    @Html.HiddenFor(model => model.rewriteurl)
                    @Html.HiddenFor(model => model.showongroup)
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Investor *</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger v-span" })
                    </div>

                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Short Detail</label>
                                @Html.TextAreaFor(model => model.ShortDetail, new { @class = "form-control editor1", @id = "editor1", @rows = "10" })
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Upload Image</label>
                                <input type="file" name="fileuploader" class="form-control" />
                                @Html.HiddenFor(model => model.uploadimage)
                                <img src="/uploads/Largeimages/@Url.Content(Model.uploadimage)" width="80" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>upload File</label>
                                <input type="file" name="fileuploader2" class="form-control" />
                                @Html.HiddenFor(model => model.uploadfile)
                                @if (!string.IsNullOrEmpty(Model.uploadfile))
                                {
                                    <a href="/uploads/prospectus/@Model.uploadfile" download>
                                        Download file
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Display Order</label>
                                @Html.EditorFor(model => model.displayorder, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Third Party Url</label>
                                @Html.EditorFor(model => model.thirdpartyurl, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Video</label>
                                @Html.TextBoxFor(model => model.vediourl, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Buttons -->
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-raised btn-success waves-effect" value="Save" name="action" formaction="@Url.Action("saveinvestor", "investor")" formmethod="post"> @ViewBag.CreateUpdate </button>
                            <input type="submit" class="btn  btn-raised btn-close waves-effect" value="Cancel" name="action" formaction="Cancel" formmethod="post" />
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
}
@{
    var nonce = Context.Items["CSPNonce"]?.ToString();
}
  

<script nonce="@nonce" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@* <script nonce="@nonce" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script nonce="@nonce" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script> *@
<script nonce="@nonce" src="~/ckeditor/ckeditor.js"></script>
<script nonce="@nonce">
    $('.editor1').each(function () {
        CKEDITOR.replace($(this).prop('id'));
    });
</script>
<script>
       var selectedCategory = "@Model.category";
    var selectedSubCategory = "@Model.subcategory";
    var selectedYearCategory = "@Model.yearcategory";
</script>
<script>

    $(document).ready(function () {

        // Load data on page load
        LoadCategory();
        LoadYearCategory();

        // -------------------------------
        // Load Category
        // -------------------------------
        function LoadCategory() {
            $.ajax({
                url: '/Investor/GetCategory',
                type: 'GET',
                success: function (data) {

                    $("#ddlCategory").empty();
                    $("#ddlCategory").append('<option value="">Select Category</option>');

                    $.each(data, function (i, item) {
                        $("#ddlCategory").append(
                            $('<option>', { value: item.value, text: item.text })
                        );
                    });

                    // ==== Auto Select Saved Category ====
                    if (selectedCategory) {
                        $("#ddlCategory").val(selectedCategory).trigger("change");
                    }
                }
            });
        }

        // -------------------------------
        // Load Year Category
        // -------------------------------
        function LoadYearCategory() {
            $.ajax({
                url: '/Investor/GetYearCategory',
                type: 'GET',
                success: function (data) {

                    $("#ddlYearCategory").empty();
                    $("#ddlYearCategory").append('<option value="">Select Year</option>');

                    $.each(data, function (i, item) {
                        $("#ddlYearCategory").append(
                            $('<option>', { value: item.value, text: item.text })
                        );
                    });

                    // ==== Auto Select Saved Year ====
                    if (selectedYearCategory) {
                        $("#ddlYearCategory").val(selectedYearCategory);
                    }
                }
            });
        }

        // -------------------------------
        // Handle Category Change -> Load SubCategory
        // -------------------------------
        $("#ddlCategory").change(function () {

            var catId = $(this).val();

            $("#ddlSubCategory").empty();
            $("#ddlSubCategory").append('<option value="">Loading...</option>');

            if (catId !== "") {
                $.ajax({
                    url: '/Investor/GetSubCategory',
                    type: 'GET',
                    data: { categoryId: catId },
                    success: function (data) {

                        $("#ddlSubCategory").empty();
                        $("#ddlSubCategory").append('<option value="">Select Sub Category</option>');

                        $.each(data, function (i, item) {
                            $("#ddlSubCategory").append(
                                $('<option>', { value: item.value, text: item.text })
                            );
                        });

                        // ==== Auto Select Saved SubCategory ====
                        if (selectedSubCategory) {
                            $("#ddlSubCategory").val(selectedSubCategory);
                        }
                    }
                });
            } else {
                $("#ddlSubCategory").empty();
                $("#ddlSubCategory").append('<option value="">Select Sub Category</option>');
            }
        });

    });
</script>

@* } *@






