@model skipper_group_new.Models.clsCMS;
@{
    ViewBag.Title = "Add Page - CMS";
    Layout = "~/Views/Shared/_homepage.cshtml";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewBag.Title
                <small class="text-muted">@Context.Session.GetString("ClientName")</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> CMS</a></li>
                <li class="breadcrumb-item active">Add Pages</li>
            </ul>
        </div>
    </div>
</div>

@using (Html.BeginForm("addpages", "CMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">
                        Fields with * are mandatory
                    </h2>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Parent Page</label>
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.HiddenFor(model => model.rewriteurl)
                                    @Html.HiddenFor(model => model.controllername)
                                    @Html.HiddenFor(model => model.actionname)
                                    @Html.DropDownListFor(model => model.parentid, Model.selectparent, "", new { @class = "form-control", style = "border:1px solid #ccc; border-radius:4px;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Title</label>
                                    @Html.EditorFor(model => model.pagename, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.pagename, "", new { @class = "text-danger v-span" })
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Link Name</label>
                                    @Html.EditorFor(model => model.linkname, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.linkname, "", new { @class = "text-danger v-span" })
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Tag Line</label>
                                    @Html.EditorFor(model => model.tagline1, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Page Position</label>
                                    @foreach (var skill in Model.linkposition)
                                    {
                                        <div style="padding-right:15px;margin-left:50px">
                                            <input id="@skill.Value" type="checkbox" checked="@skill.Selected" name="skill" value="@skill.Text" />
                                            <label for="@skill.Value">
                                                @skill.Text
                                            </label>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label> Mega Menu</label>
                                @Html.TextAreaFor(model => model.megamenu, new { @id = "editor1", @class = "form-control editor1", @rows = "10" })

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label> Short Desc</label>
                                @Html.TextAreaFor(model => model.smalldesc, new { @id = "editor2", @class = "form-control editor1", @rows = "10" })

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label> Page Description</label>
                                @Html.TextAreaFor(model => model.pagedesc, new { @id = "editor3", @class = "form-control editor1", @rows = "10" })
                                @*@Html.TextAreaFor(model => model.Description, new { @id = "FullDescription", @class = "form-control", @rows = "200" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label> Description 3</label>
                                @Html.TextAreaFor(model => model.pagedesc2, new { @id = "editor4", @class = "form-control editor1", @rows = "10" })

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label> Description 4</label>
                                @Html.TextAreaFor(model => model.pagedesc3, new { @id = "editor5", @class = "form-control editor1", @rows = "10" })

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-group">
                                <label> Upload Banner</label>
                                <input type="file" name="file_Uploader" />
                                <img src="/uploads/banner/@Url.Content(Model.uploadbanner)" width="80" />
                                @Html.HiddenFor(model => model.uploadbanner)
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Display order</label>
                                    @Html.EditorFor(model => model.displayorder, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>SEO Section</h5>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Page Title</label>
                                    @Html.EditorFor(model => model.pagetitle, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Meta Description</label>
                                    @Html.EditorFor(model => model.metadesc, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Meta Keywords </label>
                                    @Html.EditorFor(model => model.metakeywords, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label> Canonical</label>
                                    @Html.EditorFor(model => model.canonical, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">                            
                            <button type="submit" class="btn btn-raised btn-success waves-effect" name="action" formaction="@Url.Action("addpages", "CMS")" formmethod="post"> @ViewBag.UpdateStatus </button>
                            <button type="submit" class="btn btn-raised btn-close waves-effect" value="Save" name="action" formaction="Cancel" formmethod="post"> Cancel </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#Country').multiselect({
                includeSelectAllOption: true,
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>


    <script>
        $('.editor1').each(function () {
            CKEDITOR.replace($(this).prop('id'));
        });
    </script>

}