<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @await Html.PartialAsync("~/Views/Shared/_seosection.cshtml") 


    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" asp-append-version="true">
    <link href="@Url.Content("~/css/common.css")" rel="stylesheet" asp-append-version="true">
    <link href="@Url.Content("~/css/header.css")" rel="stylesheet" asp-append-version="true">
    <link href="@Url.Content("~/css/footer.css")" rel="stylesheet" asp-append-version="true">
    <link href="@Url.Content("~/css/home-animation.css")" rel="stylesheet" asp-append-version="true">
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" asp-append-version="true">
    <link href="@Url.Content("~/css/home-responsive.css")" rel="stylesheet asp-append-version=" true"">
    <link href="@Url.Content("~/css/swiper.css")" rel="stylesheet" asp-append-version="true">
    <link href="@Url.Content("~/css/aos.css")" rel="stylesheet" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script src="@Url.Content("~/js/jquery.min.js")" asp-append-version="true"></script>
</head>

<body>
    @RenderBody()

    @await Html.PartialAsync("~/Views/Shared/_footer.cshtml")

    <script src="@Url.Content("/js/bootstrap.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("/js/swiper.js")" asp-append-version="true"></script>

    <script src="@Url.Content("/js/TweenMax.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("/js/SmoothScroll.min.js")" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="@Url.Content("/js/aos.js")" asp-append-version="true"></script>
    <script src="@Url.Content("/js/common.js")" asp-append-version="true"></script>
    <script src="@Url.Content("/js/home.js")" asp-append-version="true"></script>
    <script src="@Url.Content("/js/home-animation.js")" asp-append-version="true"></script>
</body>
</html>
