@model skipper_group_new.Models.ProductTyre
@{
    Layout = "~/Views/Shared/_homepage.cshtml";
    ViewBag.Title = "Product Detail";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewBag.Title
                <small class="text-muted">@Context.Session.GetString("ClientName")</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Product</a></li>
                <li class="breadcrumb-item active">Add Product</li>
            </ul>
        </div>
    </div>
</div>



@using (Html.BeginForm("addeditproductstyre", "Products", FormMethod.Post, new { enctype = "multipart/form-data", id = "productTyreForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">
                        Fields with * are mandatory
                    </h2>
                    @Html.HiddenFor(model => model.ProductTyreId)
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Product Type</label>
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.ProductTypeId, ViewBag.PTypeDropdown as SelectList, "Select Product Type", new { @class = "form-control", @id = "ProductTypeId" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.ProductTypeId, "", new { @class = "text-danger v-span" })
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Vehicle Type</label>
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.VehicleTypeId, ViewBag.VTypeDropdown as SelectList, "Select Vehicle Type", new { @class = "form-control", @id = "VehicleTypeId" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.VehicleTypeId, "", new { @class = "text-danger v-span" })
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tyre Type</label>
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.TyreTypeId, ViewBag.TTypeDropdown as SelectList, "Select Tyre Type", new { @class = "form-control", @id = "TyreTypeId" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.TyreTypeId, "", new { @class = "text-danger v-span" })
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Position</label>
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.PostingId, ViewBag.PositionDropdown as SelectList, "Select Position", new { @class = "form-control", @id = "PostingId" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.PostingId, "", new { @class = "text-danger v-span" })
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Product Title</label>
                                    @Html.TextBoxFor(model => model.ProductTyreTitle, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Tyre Size</label>
                                    @Html.TextBoxFor(model => model.SizeTitle, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.DesignType, ViewBag.DesignTypeDropdown as SelectList, "Select Design Type", new { @class = "form-control", @id = "DesignType" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.DesignType, "", new { @class = "text-danger v-span" })
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Tagline</label>
                                    @Html.TextBoxFor(model => model.Tagline, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Features</label>
                                    @Html.TextAreaFor(model => model.ShortDesc, new { @class = "form-control editor1", @id = "editor1", @rows = "10" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Other </label>
                                    @Html.TextAreaFor(model => model.Review, new { @class = "form-control editor1", @id = "editor2", @rows = "10" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Features and Benefits</label>
                                    @Html.TextAreaFor(model => model.Features, new { @class = "form-control editor1", @id = "editor3", @rows = "10" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Specifications </label>
                                    @Html.TextAreaFor(model => model.DetailDesc, new { @class = "form-control editor1", @id = "editor4", @rows = "10" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Thumbnail Image</label>
                                    <input type="file" name="UploadThumbnailImage" class="form-control" />
                                    @Html.HiddenFor(model => model.ThumbnailImage)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Image</label>
                                    <input type="file" name="UploadImg" class="form-control" />
                                    @Html.HiddenFor(model => model.UploadImage)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>File</label>
                                    <input type="file" name="UploadFileImg" class="form-control" />
                                    @Html.HiddenFor(model => model.UploadFile)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Image</label>
                                    <input type="file" name="UploadDetailImg" class="form-control" />
                                    @Html.HiddenFor(model => model.DetailImage)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Rewrite Url</label>
                                    @Html.TextBoxFor(model => model.RewriteUrl, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Page Title</label>
                                    @Html.TextBoxFor(model => model.PageTitle, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Meta Keywords</label>
                                    @Html.TextBoxFor(model => model.PageMeta, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Meta Description </label>
                                    @Html.TextBoxFor(model => model.PageMetaDesc, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Page Script</label>
                                    @Html.TextBoxFor(model => model.PageScript, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Display Order</label>
                                    @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>No Index Follow</label><br />
                                    @Html.CheckBoxFor(model => model.NoIndexFollow)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="submit" class="btn btn-success btn-lg mx-2" value="@ViewBag.Button" />
                            <a href="/Products/Index" class="btn btn-secondary btn-lg mx-2">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@{
    var nonce = Context.Items["CSPNonce"]?.ToString();
}
<script nonce = "@nonce" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script nonce = "@nonce" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script nonce = "@nonce" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
<script nonce = "@nonce" src="~/ckeditor/ckeditor.js"></script>

<script nonce="@nonce">
    $(document).ready(function () {
        $('.editor1').each(function () {
            CKEDITOR.replace($(this).prop('id'));
        });

        $('#ProductTypeId').change(function () {
            var productTypeId = $(this).val();
            var vehicleDropdown = $('#VehicleTypeId');
            vehicleDropdown.empty().append($('<option>').val('').text('Select Vehicle Type'));

            if (productTypeId) {
                $.ajax({
                    url: '/Products/VehicleTypeDropdown',
                    type: 'GET',
                    data: { productTypeId: productTypeId },
                    success: function (data) {
                        $.each(data, function (i, item) {
                            vehicleDropdown.append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    },
                    error: function () {
                        alert('Error loading vehicle types.');
                    }
                });
            }
        });

        // Optional manual validation safeguard
        $('#productTyreForm').on('submit', function (e) {
            if (!$(this).valid()) {
                e.preventDefault();
                alert("⚠️ Please fill all required fields before submitting.");
            }
        });
    });
</script>
