@model skipper_group_new.Models.SubCategory

@{
    ViewData["Title"] = "Add Vehicle Tyre";
    Layout = "~/Views/Shared/_homepage.cshtml";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewBag.Title
                <small class="text-muted">@Context.Session.GetString("ClientName")</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i>Products</a></li>
                <li class="breadcrumb-item active">Add Vehicle Tyre</li>
            </ul>
        </div>
    </div>
</div>




@using (Html.BeginForm("addvehicletype", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">
                        Fields with * are mandatory
                    </h2>
                    <div class="row clearfix">
                        @Html.HiddenFor(model => model.PSubCatId)
                        @Html.HiddenFor(model => model.Status)
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Product Type *</label>
                                    @Html.DropDownListFor(model => model.PCatId, ViewBag.Category as SelectList, "Select Product Type", new { @class = "form-control" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.PCatId, "", new { @class = "text-danger v-span" })
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Vehicle Tyre</label>
                                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger v-span" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Short Detail</label>
                                    @Html.TextAreaFor(model => model.ShortDetail, new { @class = "form-control editor1", @id = "editor1", @rows = "10" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Long Description</label>
                                    @Html.TextAreaFor(model => model.Detail, new { @class = "form-control editor1", @id = "editor2", @rows = "10" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Smart tyres </label>
                                    @Html.TextAreaFor(model => model.SmartTyre, new { @class = "form-control editor1", @id = "editor3", @rows = "10" })
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Others</label>
                                    @Html.TextAreaFor(model => model.Others, new { @class = "form-control editor1", @id = "editor4", @rows = "10" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Upload Image</label>
                                    <input type="file" name="fileuploader" class="form-control" />
                                    <img src="/uploads/productimg/@Url.Content(Model.UploadAImage)" width="80" />
                                    @Html.HiddenFor(model => model.UploadAImage)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Banner Image</label>
                                    <input type="file" name="fileuploader2" class="form-control" />
                                    <img src="/uploads/productimg/@Url.Content(Model.Banner)" width="80" />
                                    @Html.HiddenFor(model => model.Banner)
                                </div>
                            </div>
                        </div>
                    </div>
                   

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Rewrite URL</label>
                                    @Html.EditorFor(model => model.RewriteUrl, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Display Order</label>
                                    @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <h5>SEO Section</h5>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Page Title</label>
                                    @Html.EditorFor(model => model.PageTitle, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Page Meta</label>
                                    @Html.TextBoxFor(model => model.PageMeta, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Page Meta Desc</label>
                                    @Html.EditorFor(model => model.PageMetaDesc, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Canonical</label>
                                    @Html.EditorFor(model => model.Canonical, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Page Script</label>
                                    @Html.EditorFor(model => model.PageScript, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-raised btn-success waves-effect" name="action" formaction="@Url.Action("addvehicletype", "Products")" formmethod="post"> @ViewBag.CreateUpdate </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@{
    var nonce = Context.Items["CSPNonce"]?.ToString();
}
<script nonce="@nonce" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script nonce="@nonce" src="~/ckeditor/ckeditor.js"></script>
<script nonce="@nonce">
    $('.editor1').each(function () {
        CKEDITOR.replace($(this).prop('id'));
    });
</script>

