@using System.Data;
@model skipper_group_new.Models.clsDownload
@{
    Layout = "~/Views/Shared/_homepage.cshtml";
    ViewBag.Title = "Image File Path";
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewBag.Title
                <small class="text-muted">@Context.Session.GetString("ClientName")</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Upload File</a></li>
                <li class="breadcrumb-item active">Image File Path</li>
            </ul>
        </div>
    </div>
</div>

@using (Html.BeginForm("imagefilepath", "download", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">
                        Fields with * are mandatory
                    </h2>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Upload File</label>
                                    <input type="file" name="fileuploader" class="form-control" />
                                    @Html.HiddenFor(model => model.FilePath)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-raised btn-success waves-effect" value="Save" formaction="@Url.Action("imagefilepath", "download")" formmethod="post"> @ViewBag.CreateUpdate </button>

                        </div>
                    </div>
                    @{
                        var cat = ViewBag.List as DataTable;
                    }
                    @if (cat != null && cat.Rows.Count > 0)
                    {
                        <table class="table table-bordered pt-8" id="categoryTable">
                            <thead class="table-header">
                                <tr>
                                    <th>Image Path</th>
                                    <th>Date</th>
                                    <th>Display Order</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow c in cat.Rows)
                                {
                                    <tr>
                                        <td>@c["Filetitle"].ToString()</td>
                                        <td>@c["trdate"].ToString()</td>
                                        <td>@c["displayorder"].ToString()</td>
                                        <td>
                                            <a href="/download/downloadfile/@c["uploadfile"]">
                                                <img src="~/backoffice/images/Download_24x24.png" alt="Download" />
                                            </a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="col-lg-12 my-lg-2 text-lg-center message-top2">
                            Records not found
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>


}
