@using System.Data;
@model skipper_group_new.Models.clsDownload
@{
    Layout = "~/Views/Shared/_homepage.cshtml";
    ViewBag.Title = "Image File Path";
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewBag.Title
                <small class="text-muted">@Context.Session.GetString("ClientName")</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Upload File</a></li>
                <li class="breadcrumb-item active">Image File Path</li>
            </ul>
        </div>
    </div>
</div>

@using (Html.BeginForm("imagefilepath", "download", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">
                        Fields with * are mandatory
                    </h2>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Upload File</label>
                                    <input type="file" name="UploadImageFile" class="form-control" />
                                    @Html.HiddenFor(model => model.FilePath)
                                </div>
                            </div>
                        </div>

                    </div>
                    @{
                        var cat = ViewBag.BlogCatDtl as List<skipper_group_new.Models.Blogcatdtl>;
                    }
                    @if (cat != null && cat.Any())
                    {
                        <table class="table table-bordered" id="categoryTable">
                            <thead class="table-header">
                                <tr>
                                    <th>Blog Category Title</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in cat)
                                {
                                    <tr>
                                        <td>@c.BcatTitle</td>
                                        <td>@c.TrDate</td>
                                        <td>
                                            @if (c.Status == true)
                                            {
                                                <form method="post" action="/backoffice/Blogs/ChangeBlogCatStatus/@c.BcatId" style="display: inline;">
                                                    <button type="submit" class="btnstatus" style="border:none;background:none" onclick="return confirm('You want to change the status to inactive?');">
                                                        <img src="~/Backoffice/images/active.png" width="25" alt="Active" />
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" action="/backoffice/Blogs/ChangeBlogCatStatus/@c.BcatId" style="display: inline;">
                                                    <button type="submit" class="btnstatus" style="border:none;background:none" onclick="return confirm('You want to change the status to active?');">
                                                        <img src="~/Backoffice/images/wrong.png" width="25" alt="Inactive" />
                                                    </button>
                                                </form>
                                            }
                                        </td>
                                        <td>
                                            <a href="/Backoffice/Blogs/GetBlogCatByID/@c.BcatId" class="btnEdit" title="Edit">
                                                <img src="~/Backoffice/images/edit.png" class="img-fluid" width="20" alt="Edit" />
                                            </a>
                                            <a href="#" class="btndelete" data-href="/Backoffice/Blogs/DeleteBlogCat/@c.BcatId" title="Delete">
                                                <img src="~/Backoffice/images/delete.png" class="img-fluid" width="20" alt="Delete" />
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="col-lg-12 my-lg-2 text-lg-center message-top2">
                            Records not found
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>


}
