@using System.Data;
@model skipper_group_new.Models.clsHomeModel;
@using skipper_group_new.mainclass;

@{
    Layout = "~/Views/Shared/_engineering.cshtml";
    DataTable dt = null, dt1 = null, dt2 = null;
    if (Model.id != "3")
    {
         dt = ViewBag.ProductCatList as DataTable;
         dt1 = ViewBag.FeaturedProjList1 as DataTable;
         dt2 = ViewBag.FeaturedProjList2 as DataTable;
    }

}
@Html.Raw(Model.Description)

@if (dt != null)
{
    <section class="product_sec eng-prod">
        <div class="container">
            <div class="product_sec_slider">
                <div class="title">
                    <h3 data-aos="fade-up" data-aos-delay="300">Services </h3>
                </div>
                <div class="product-slider swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        @if (dt.Rows.Count > 0)
                        {
                            foreach (DataRow row1 in dt.Rows)
                            {
                                var href = string.IsNullOrEmpty(row1["rewriteurl"].ToString()) ? "javascript:void(0);" : row1["rewriteurl"].ToString();
                                <div class="swiper-slide">
                                    <div class="slide_bx">
                                        <figure>
                                            <a href="@href">
                                                <img class="img-fluid w-100"
                                                     src="/uploads/ProductsImage/@row1["banner"]"
                                                     border="0" />
                                            </a>
                                            <figcaption>
                                                <p>@row1["category"]</p>
                                            </figcaption>
                                            <img src="/images/icon/subtraction-11.svg" alt="subtraction-11"
                                                 class="icon-top">
                                        </figure>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-div">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@Html.Raw(Model.Capabilities)

@if (dt1 != null && dt1.Rows.Count > 0)
{
    <section class="featured_project">
        <div class="scroll-spacer"></div>
        <div class="trigger-placeholder"></div>
        <div class="icon_project">
            <figure><img src="/images/icon/Subtraction-4.svg" class="img-fluid"></figure>
        </div>
        <div class="container">
            <h2>Featured Projects</h2>
            <div class="project_slider">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-container">
                                <div class="slider_grid">
                                    @if (dt1.Rows.Count > 0)
                                    {
                                        <div class="left-slide">
                                            <div class="corner-accent">
                                                <figure>
                                                    <img src="/uploads/SmallImages/@Convert.ToString(dt1.Rows[0]["uploadevents"])"
                                                         class="img-fluid ">
                                                </figure>
                                            </div>
                                            <div class="text-content">
                                                <div class="bottom_left_icon">
                                                    <img src="images/icon/Subtraction-6.svg"
                                                         class="img-fluid">
                                                </div>
                                                <div class="project-title">@Convert.ToString(dt1.Rows[0]["researchtitle"])</div>
                                                <div class="description">@Convert.ToString(dt1.Rows[0]["tagline"])</div>
                                            </div>
                                            <div class="voltage"></div>
                                            <a href="/project-details/@Convert.ToString(dt1.Rows[0]["researchtitle"]).ToSlug()/@Convert.ToInt16(dt1.Rows[0]["researchid"])" class="streched_link"></a>
                                        </div>
                                    }

                                    @if (dt2.Rows.Count > 0)
                                    {
                                        <div class="right-container">
                                            @foreach (DataRow row2 in dt2.Rows)
                                            {
                                                <div class="right-top">
                                                    <div class="corner-accent">
                                                        <figure>
                                                            <img src="/uploads/SmallImages/@Convert.ToString(row2["uploadevents"])"
                                                                 class="img-fluid ">
                                                        </figure>
                                                    </div>
                                                    <div class="text-content">
                                                        <div class="bottom_left_icon">
                                                            <img src="images/icon/Subtraction-6.svg" class="img-fluid">
                                                        </div>
                                                        <div class="project-title">@Convert.ToString(row2["researchtitle"])</div>
                                                        <div class="description">
                                                            @Convert.ToString(row2["tagline"])
                                                        </div>
                                                    </div>
                                                    <div class="voltage"></div>
                                                    <a href="/project-details/@Convert.ToString(row2["researchtitle"]).ToSlug()/@Convert.ToInt16(row2["researchid"])" class="streched_link"></a>
                                                </div>
                                            }
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button_group d-none">
                    <div class="container">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="view_all">
                        <a href="/projects">
                            View All Projects
                            <figure><img src="/images/icon/right_icon.svg"></figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

}

